body {
font-family: Arial, sans-serif;
background-color: #f2f2f2;
}

.container {
width: 400px;
margin: 60px auto;
background: white;
padding: 20px;
border-radius: 8px;
}


label {
display: block;
margin-top: 10px;
}

input, textarea, button {
width: 100%;
padding: 8px;
margin-top: 5px;
}


button {
background: #007bff;
color: white;
border: none;
margin-top: 15px;
cursor: pointer;
}